<h1 class="text-center mb-4"><%= t("views.password_resets.edit.title") %></h1>
<%= form_with model: @user, url: password_reset_path(params[:id]), local: true do |f| %>
  <div class="mb-3">
    <%= f.label :password, t("views.password_resets.edit.password"), class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="d-grid mb-3">
    <%= f.submit t("views.password_resets.edit.submit"), class: "btn btn-primary btn-block" %>
  </div>
<% end %>