<% @song_pairs.each do |song_pair| %>
  <div>
  <p><%= song_pair.original_song_id %></p>
  <p><%= song_pair.original_song_description %></p>
  <p><%= song_pair.similar_song_id %></p>
  <p><%= song_pair.similar_song_description %></p>
  <p><%= song_pair.similarity_category_id %></p>
  <p><%= song_pair.user_id %></p>
  </div>
<% end %>