<h1 class="text-center mb-4"><%= t("views.song_pairs.new.title") %></h1>
<%= form_with model: @song_pair, local: true, class: "form-signin", data: { turbo: false, controller: "multi-step-form", current_step: @current_step } do |f| %>
  <%# 注意事項 %>
  <div data-multi-step-form-target="step">
    <h3 class="text-center mb-4"><%= t("views.song_pairs.new.notes.heading") %></h3>
    <div class="text-center mb-4">
      <p>
        <% t("views.song_pairs.new.notes.content").each do |content| %>
          <%= content %><br>
        <% end %>
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <%= button_tag t("views.buttons.next"), type: "button", data: { action: "multi-step-form#nextStep" }, class: "btn btn-primary btn-block" %>
    </div>
  </div>

  <%# カテゴリー選択 %>
  <div data-multi-step-form-target="step" class="hidden">
    <div class="mb-3">
      <%= f.collection_select :similarity_category_id, @categories, :id, :name, {}, { class: 'form-select' } %>
    </div>
    <h3 class="text-center mb-4"><%= t("views.song_pairs.new.category.heading") %></h3>
    <div class="text-center mb-4">
      <% t("views.song_pairs.new.category.content").each do |content| %>
        <p><%= content %></p>
      <% end %>
      <br>
      <h4><%= t("views.song_pairs.new.category.melody.heading") %></h4>
      <% t("views.song_pairs.new.category.melody.content").each do |content| %>
        <p><%= content %></p>
      <% end %>
      <br>
      <h4><%= t("views.song_pairs.new.category.style.heading") %></h4>
      <% t("views.song_pairs.new.category.style.content").each do |content| %>
        <p><%= content %></p>
      <% end %>
      <br>
      <h4><%= t("views.song_pairs.new.category.sampling.heading") %></h4>
      <% t("views.song_pairs.new.category.sampling.content").each do |content| %>
        <p><%= content %></p>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= button_tag t("views.buttons.next"), type: "button", data: { action: "multi-step-form#nextStep" }, class: "btn btn-primary btn-block" %>
    </div>
  </div>

  <%# 曲情報入力 %>
  <div data-multi-step-form-target="step" class="hidden">
    <% if @song_pair.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @song_pair.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3 class="text-center mb-4"><%= t("views.song_pairs.new.song_1.heading") %></h3>
    <p class="text-center"><%= t("views.song_pairs.new.song_1.description") %></p>
    <div data-controller="autocomplete" data-autocomplete-url-value=<%= autocomplete_songs_path %>>
      <%= f.fields_for :original_song do |song1_form| %>
        <div class="mb-3 song-submit-form">
          <%= song1_form.label :title, class: "form-label" %>
          <%= song1_form.text_field :title, class: "form-control", data: { autocomplete_target: "input" } %>
          <ul class="list-group" data-autocomplete-target="results"></ul>
        </div>
        <%= song1_form.fields_for :artists do |artist1_form| %>
          <div class="mb-3 song-submit-form" data-controller="artist-autocomplete" data-artist-autocomplete-url-value=<%= autocomplete_artists_path %>>
            <%= artist1_form.label :name, class: "form-label" %>
            <%= artist1_form.text_field :name, class: "form-control", data: { artist_autocomplete_target: "input", autocomplete_target: "artist" } %>
            <ul data-artist-autocomplete-target="results" class="list-group"></ul>
          </div>
        <% end %>
        <div class="mb-3">
          <%= song1_form.label :release_date, class: "form-label" %>
          <%= song1_form.select :release_date, options_for_select((1870..Date.today.year).to_a.reverse.map(&:to_s), song1_form.object.release_date), {}, class: "form-select", data: { field: 'year', autocomplete_target: "releaseDate" } %>
        </div>
        <div class="mb-3">
          <%= song1_form.label :media_url, class: "form-label" %>
          <%= song1_form.text_field :media_url, class: "form-control", id: "media_url_1", data: { autocomplete_target: "mediaUrl" } %>
          <p><%= t("views.song_pairs.new.media_tip") %></p>
        </div>
        <div class="mb-3">
          <div id="media_player_1"></div>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :original_song_description, class: "form-label" %>
        <%= f.text_area :original_song_description, class: "form-control" %>
        <p>
          <% t("views.song_pairs.new.song_1.tip").each do |tip| %>
            <%= tip %><br>
          <% end %>
        </p>
      </div>
    </div>

    <h3 class="text-center mb-4"><%= t("views.song_pairs.new.song_2.heading") %></h3>
    <p class="text-center">
      <% t("views.song_pairs.new.song_2.description").each do |description| %>
        <%= description %><br>
      <% end %>
    </p>
    <div data-controller="autocomplete" data-autocomplete-url-value=<%= autocomplete_songs_path %>>
      <%= f.fields_for :similar_song do |song2_form| %>
        <div class="mb-3 song-submit-form">
          <%= song2_form.label :title, class: "form-label" %>
          <%= song2_form.text_field :title, class: "form-control", data: { autocomplete_target: "input" } %>
          <ul class="list-group" data-autocomplete-target="results"></ul>
        </div>
        <%= song2_form.fields_for :artists do |artist2_form| %>
          <div class="mb-3 song-submit-form" data-controller="artist-autocomplete" data-artist-autocomplete-url-value=<%= autocomplete_artists_path %>>
            <%= artist2_form.label :name, class: "form-label" %>
            <%= artist2_form.text_field :name, class: "form-control", data: { artist_autocomplete_target: "input", autocomplete_target: "artist" } %>
            <ul data-artist-autocomplete-target="results" class="list-group"></ul>
          </div>
        <% end %>
        <div class="mb-3">
          <%= song2_form.label :release_date, class: "form-label" %>
          <%= song2_form.select :release_date, options_for_select((1870..Date.today.year).to_a.reverse.map(&:to_s), song2_form.object.release_date), {}, class: "form-select", data: { field: 'year', autocomplete_target: "releaseDate" } %>
        </div>
        <div class="mb-3">
          <%= song2_form.label :media_url, class: "form-label" %>
          <%= song2_form.text_field :media_url, class: "form-control", id: "media_url_2", data: { autocomplete_target: "mediaUrl" } %>
          <p><%= t("views.song_pairs.new.media_tip") %></p>
        </div>
        <div class="mb-3">
          <div id="media_player_2"></div>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :similar_song_description, class: "form-label" %>
        <%= f.text_area :similar_song_description, class: "form-control" %>
        <p>
          <% t("views.song_pairs.new.song_2.tip").each do |tip| %>
            <%= tip %><br>
          <% end %>
        </p>
      </div>
      <div class="d-flex justify-content-center">
        <%= button_tag t("views.buttons.back"), type: "button", data: { action: "multi-step-form#previousStep" }, class: "btn btn-primary btn-block" %>
        <%= f.submit t("views.song_pairs.new.submit"), class: "btn btn-primary btn-block mx-3" %>
      </div>
    </div>
  </div>
<% end %>
