<h1 class="text-center mb-4">楽曲を登録</h1>
<%= form_with model: @song_pair, local: true, class: "form-signin", data: { turbo: false, controller: "multi-step-form", current_step: @current_step } do |f| %>
  <%# 注意事項 %>
  <div data-multi-step-form-target="step">
    <h3 class="text-center mb-4">登録する上での注意</h3>
    <div class="text-center mb-4">
      <p>本サービスはあくまで楽曲探しや楽曲そのものを『楽しむ』為に提供するものです。<br>
      作品の『盗作』や『パクリ』を指摘したり推奨するものではありません。<br>
      楽曲やアーティストに対する悪意のある書き込み等は残すことのないようお願いします。<br>
      誰が見ても純粋に「あ！似てる！面白い！」と思えるようなコンテンツにしていきましょう。</p>
    </div>
    <div class="d-flex justify-content-center">
      <%= button_tag "次に進む", type: "button", data: { action: "multi-step-form#nextStep" }, class: "btn btn-primary btn-block" %>
    </div>
  </div>

  <%# カテゴリー選択 %>
  <div data-multi-step-form-target="step" class="hidden">
    <div class="mb-3">
      <%= f.collection_select :similarity_category_id, @categories, :id, :name, {}, { class: 'form-select' } %>
    </div>
    <h3 class="text-center mb-4">カテゴリーについて</h3>
    <div class="text-center mb-4">
      <p>カテゴリーは『どんな風に似ているのか』を分類する為に設定するものです。</p>
      <p>何が似ているかを定義するものにもなります。</p>
      <p>各カテゴリーの説明を元にどのカテゴリーに当てはまるかを参考にしてください。</p>
      <br>
      <h4>メロディ</h4>
      <p>楽曲内のメロディ部分が似ている場合はこちらのカテゴリーを選んでください。</p>
      <p>楽器が演奏していてもボーカルが歌っていてもメロディであればOKです。</p>
      <br>
      <h4>ジャンル・スタイル</h4>
      <p>楽曲内で使用されている楽器やエフェクトの使い方、ボーカルの歌い方等、音楽ジャンルとしてや楽曲のスタイルが似ている場合にはこちらのカテゴリーを選んでください。</p>
      <p>「言葉じゃ説明しにくいけどなんか似てる…」という場合はこちらが当てはまる場合が多いかもしれません。</p>
      <br>
      <h4>サンプリング</h4>
      <p>楽曲内で別の楽曲の音源が一部分使われていたりする場合はこちらを選んでください。</p>
      <p>サンプリングのされ方は様々で『ボーカル部分だけ使われている』、『ドラム部分だけ使われている』、『イントロ部分だけ使われている』など既存の楽曲音源を部分的に使用することでただ楽器を演奏したり、歌うだけでは出来ない新しい表現を生み出すことができます。</p>
      <p>イメージしづらい場合はサンプリングカテゴリーで登録されている楽曲を実際に参考にしてみてください。</p>
    </div>
    <div class="d-flex justify-content-center">
      <%= button_tag "次に進む", type: "button", data: { action: "multi-step-form#nextStep" }, class: "btn btn-primary btn-block" %>
    </div>
  </div>

  <%# 曲情報入力 %>
  <div data-multi-step-form-target="step" class="hidden">
    <% if @song_pair.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @song_pair.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3 class="text-center mb-4">曲情報1</h3>
    <p class="text-center">曲の情報を入力してください。</p>
    <div data-controller="autocomplete">
      <%= f.fields_for :original_song do |song1_form| %>
        <div class="mb-3">
          <%= song1_form.label :title, "曲名", class: "form-label" %>
          <%= song1_form.text_field :title, class: "form-control", data: { action: "input->autocomplete#search", target: "autocomplete.songInput" } %>
          <ul data-autocomplete-target="songList1" class="autocomplete-list"></ul>
        </div>
        <%= song1_form.fields_for :artists do |artist1_form| %>
          <div class="mb-3">
            <%= artist1_form.label :name, "アーティスト名", class: "form-label" %>
            <%= artist1_form.text_field :name, class: "form-control", data: { action: "input->autocomplete#searchArtist", target: "autocomplete.artistInput" } %>
            <ul data-autocomplete-target="artistList1" class="autocomplete-list"></ul>
          </div>
        <% end %>
        <div class="mb-3">
          <%= song1_form.label :release_date, "リリース年", class: "form-label" %>
          <%= song1_form.select :release_date, options_for_select((1870..Date.today.year).to_a.reverse.map(&:to_s), "2000"), {}, class: "form-select", data: { field: 'year', target: "autocomplete.releaseDate" } %>
        </div>
        <div class="mb-3">
          <%= song1_form.label :media_url, "メディアURL", class: "form-label" %>
          <%= song1_form.text_field :media_url, class: "form-control", id: "media_url_1", data: { target: "autocomplete.mediaUrl" } %>
          <p>YouTubeのURLに対応しています。<br>
          ※実在するコンテンツや正しい形式のURLでないと保存できません。
          <br>正しいURLが入力された場合はページ上に動画ウィジェットが表示されて動画を確認できます。</p>
        </div>
        <div class="mb-3">
          <div id="media_player_1"></div>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :original_song_description, "曲1の説明", class: "form-label" %>
        <%= f.text_area :original_song_description, class: "form-control" %>
        <p>注目して欲しいポイントや似てると思ったポイントを記載してください。<br>例) 01:20辺りのメロディ</p>
      </div>
    </div>

    <h3 class="text-center mb-4">曲情報2</h3>
    <p class="text-center">似てる曲の情報を入力してください。<br>※サンプリングカテゴリーであれば曲情報1で入力した曲をサンプリングしている曲になります。</p>
    <div data-controller="autocomplete">
      <%= f.fields_for :similar_song do |song2_form| %>
        <div class="mb-3">
          <%= song2_form.label :title, "曲名", class: "form-label" %>
          <%= song2_form.text_field :title, class: "form-control", data: { action: "input->autocomplete#search", target: "autocomplete.songInput" } %>
          <ul data-autocomplete-target="songList2" class="autocomplete-list"></ul>
        </div>
        <%= song2_form.fields_for :artists do |artist2_form| %>
          <div class="mb-3">
            <%= artist2_form.label :name, "アーティスト名", class: "form-label" %>
            <%= artist2_form.text_field :name, class: "form-control", data: { action: "input->autocomplete#searchArtist", target: "autocomplete.artistInput" } %>
            <ul data-autocomplete-target="artistList2" class="autocomplete-list"></ul>
          </div>
        <% end %>
        <div class="mb-3">
          <%= song2_form.label :release_date, "リリース年", class: "form-label" %>
          <%= song2_form.select :release_date, options_for_select((1870..Date.today.year).to_a.reverse.map(&:to_s), "2000"), {}, class: "form-select", data: { field: 'year', target: "autocomplete.releaseDate" } %>
        </div>
        <div class="mb-3">
          <%= song2_form.label :media_url, "メディアURL", class: "form-label" %>
          <%= song2_form.text_field :media_url, class: "form-control", id: "media_url_2", data: { target: "autocomplete.mediaUrl" } %>
          <p>YouTubeのURLに対応しています。<br>
          ※実在するコンテンツや正しい形式のURLでないと保存できません。
          <br>正しいURLが入力された場合はページ上に動画ウィジェットが表示されて動画を確認できます。</p>
        </div>
        <div class="mb-3">
          <div id="media_player_2"></div>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :similar_song_description, "曲2の説明", class: "form-label" %>
        <%= f.text_area :similar_song_description, class: "form-control" %>
        <p>注目して欲しいポイントや似てると思ったポイントを記載してください。<br>例) 01:20辺りのメロディ</p>
      </div>
      <div class="d-flex justify-content-center">
        <%= button_tag "戻る", type: "button", data: { action: "multi-step-form#previousStep" }, class: "btn btn-primary btn-block" %>
        <%= f.submit "曲を登録", class: "btn btn-primary btn-block mx-3" %>
      </div>
    </div>
  </div>
<% end %>
