<% set_meta_tags(title: "#{@song_pair.original_song.title} × #{@song_pair.similar_song.title}") %>
<% set_meta_tags(og: { title: "#{@song_pair.original_song.title} × #{@song_pair.similar_song.title}" }) %>
<% if @song_pair.similarity_category.id == 3 %>
  <h1 class="text-center mb-4">サンプリング曲情報</h1>
<% else %>
  <h1 class="text-center mb-4">似てる曲情報</h1>
<% end %>
<div>
  <%= render 'song_info', song: @song_pair.original_song, song_description: @song_pair.original_song_description %>

  <% if @song_pair.similarity_category.id == 3 %>
    <h2 class="text-center mb-4">↓サンプリングされてる</h2>
  <% else %>
    <h2 class="text-center mb-4">↓似てる: <%= @song_pair.similarity_category_name %></h2>
  <% end %>
  
  <%= render 'song_info', song: @song_pair.similar_song, song_description: @song_pair.similar_song_description %>
  
  <div class="user-info-block text-center mb-4">
    <h3>登録したユーザー</h3>
    <p><%= @song_pair.user.name %></p>
  </div>

  <div class="evaluate_button_block text-center mb-4">
    <h3>評価</h3>
    <p>似てると思ったら評価(SIM!)</p>
    <%= render 'evaluate_button', song_pair: @song_pair %>
  </div>

  <div class="text-center mb-4">
    <h3>シェア</h3>
    <div class="share-field">
      <%= link_to "https://twitter.com/intent/tweet?text=#{URI.encode_www_form_component('musim: 『似ている』から始まる曲探し')}&url=#{URI.encode_www_form_component(request.original_url)}", target: "_blank", rel: "noopener", class: "share-button share-button-twitter" do %>
        <i class="fa-brands fa-x-twitter"></i>
      <% end %>
      <%= link_to "https://social-plugins.line.me/lineit/share?url=#{CGI.escape(request.original_url)}", target: "_blank", rel: "noopener", class: "share-button share-button-line" do %>
        <span>LINE</span>
      <% end %>
    </div>
  </div>
</div>