<% if @song_pair.similarity_category.id == 3 %>
  <h1 class="text-center mb-4">サンプリング曲情報</h1>
<% else %>
  <h1 class="text-center mb-4">似てる曲情報</h1>
<% end %>
<div>
  <p class="text-center">
    <%# 確認用 人気曲ページが完成次第削除 %>
    閲覧数: <%= @song_pair.page_view_count(request.base_url) %>
  </p>
</div>
<div>
  <%= render 'song_info', song: @song_pair.original_song, song_description: @song_pair.original_song_description %>

  <% if @song_pair.similarity_category.id == 3 %>
    <h2 class="text-center mb-4">↓サンプリングされてる</h2>
  <% else %>
    <h2 class="text-center mb-4">↓似てる: <%= @song_pair.similarity_category.name %></h2>
  <% end %>
  
  <%= render 'song_info', song: @song_pair.similar_song, song_description: @song_pair.similar_song_description %>
  
  <div class="user-info-block">
    <h3>登録したユーザー</h3>
    <p><%= @song_pair.user.name %></p>
  </div>

  <div class="evaluate_button_block">
    <% if logged_in? %>
      <% if current_user.song_pair_evaluation(@song_pair) %>
        <p>評価を取り消す</p>
      <% else %>
        <p>評価する</p>
      <% end %>
    <% else %>
      <%= link_to "アカウント登録・ログインをして似てる曲を評価", "#" %>
    <% end %>
  </div>
</div>