<% if @song_pair.similarity_category.id == 3 %>
  <h1>サンプリング曲情報</h1>
<% else %>
  <h1>似てる曲情報</h1>
<% end %>
<div>
  <h3><%= @song_pair.original_song.title %></h3>
  <% @song_pair.original_song.artists.each do |artist| %>
    <p><%= artist.name %></p>
  <% end %>
  <p><%= @song_pair.original_song.release_date %>年</p>
  <p><%= @song_pair.original_song.media_url %></p>
  <p><%= @song_pair.original_song_description %></p>
  <h3><%= @song_pair.similar_song.title %></h3>
  <% @song_pair.similar_song.artists.each do |artist| %>
    <p><%= artist.name %></p>
  <% end %>
  <p><%= @song_pair.similar_song.release_date %>年</p>
  <p><%= @song_pair.similar_song.media_url %></p>
  <p><%= @song_pair.similar_song_description %></p>
  <p><%= @song_pair.similarity_category.name %></p>
  <h3>登録したユーザー</h3>
  <p><%= @song_pair.user.name %></p>
</div>