<h1 class="text-center mb-4"><%= t("views.users.edit_email.title") %></h1>
<%= form_with model: @user, url: mypage_email_path, local: true do |f| %>
  <div class="mb-3">
    <label class="form-label"><%= t("views.users.edit_email.current_email") %></label>
    <p><%= @user.email %></p>
  </div>
  <div class="mb-3">
    <%= f.label :new_email, t("views.users.edit_email.new_email"), class: "form-label" %>
    <%= f.email_field :new_email, class: "form-control", placeholder: t("views.users.new.email.placeholder") %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="d-grid mb-3">
    <%= f.submit t("views.users.edit.submit"), class: "btn btn-primary btn-block" %>
  </div>
<% end %>