<% set_meta_tags(title: t("views.users.evaluated_songs.title")) %>
<div>
  <h1 class="text-center mb-4"><%= t("views.users.evaluated_songs.title") %></h1>
  <div class="d-flex justify-content-center mb-4">
    <%= render "shared/filter", categories: @categories %>
  </div>
  <div class="mb-4">
    <% if @evaluated_song_pairs.present? %>
      <%= render "shared/song_pair_block", song_pairs: @evaluated_song_pairs %>
      <%= paginate @evaluated_song_pairs %>
    <% else %>
      <div class="text-center mb-3">
        <p><%= t("views.not_found.song_pairs") %></p>
      </div>
    <% end %>
  </div>
</div>