<h1 class="text-center mb-4"><%= t("views.users.new.title") %></h1>
<%= form_with model: @user, url: signup_path, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: t("views.users.new.name.placeholder") %>
  </div>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", placeholder: t("views.users.new.email.placeholder") %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="d-grid mb-3">
    <%= f.submit t("views.users.new.submit"), class: "btn btn-primary btn-block" %>
  </div>
  <div class="mb-3 text-center">
    <%= link_to t("views.users.new.login"), login_path %>
  </div>
<% end %>
<div class="mb-3 d-flex flex-column align-items-center">
  <h3><%= t("views.users.new.features.heading") %></h3>
  <ul>
    <% t("views.users.new.features.content").each do |content| %>
      <li><%= content %></li>
    <% end %>
  </ul>
</div>