<% set_meta_tags(title: "マイページ", og: { title: "マイページ" }) %>
<h1 class="text-center mb-4">マイページ</h1>
<div class="mb-5 user-info">
  <p>ユーザー名: <%= @user.name %></p>
  <p>登録日: <%= @user.created_at.strftime('%Y年%m月%d日') %></p>
  <p>楽曲登録数: <%= @song_pairs.count %></p>
</div>
<div>
  <h2 class="text-center mb-4">登録した曲</h2>
  <div class="mb-4">
    <% if @song_pairs.present? %>
      <%= render "shared/song_pair_block", song_pairs: @song_pairs, maximum: 5 %>
      <% if @song_pairs.count > 5 %>
        <div class="more-button d-flex justify-content-center">
          <%= link_to "全て表示", submit_songs_path, class: "btn" %>
        </div>
      <% end %>
    <% else %>
      <div class="text-center">
        <p>楽曲が登録されていません。</p>
      </div>
    <% end %>
  </div>
</div>