<header>
  <div class="navbar navbar-expand-lg navbar-dark">
    <div class="container main-area">
      <%= link_to 'musim', '/', class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to t("views.header.nav.song_submit"), login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t("views.header.nav.login"), login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t("views.header.nav.signup"), signup_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-image text-white">
    <div class="main-area d-flex flex-column align-items-center">
      <h1><%= t("views.header.heading") %></h1>
      <%=link_to t("views.header.signup_to_start"), login_path %>
      <%= render "shared/search_form" %>
    </div>
  </div>
</header>