<header>
  <div class="navbar navbar-expand-lg navbar-dark">
    <div class="container main-area">
      <%= link_to 'musim', '/', class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to '楽曲を登録', login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to '新規登録', signup_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% unless current_page?(login_path) || current_page?(signup_path) %>
    <div class="header-image text-white">
      <div class="main-area d-flex flex-column align-items-center">
        <h1>『似ている』から始まる曲探し</h1>
        <%=link_to 'アカウント登録・ログインをして始める', signup_path %>
        <%= search_form_for @q, url: song_pairs_path, method: :get, class: 'search-form' do |f| %>
          <%= f.text_field :original_song_title_or_similar_song_title_or_original_song_artist_list_cont, placeholder: "曲名やアーティスト名を検索", class: "search-input" %>
          <%= f.submit "検索", class: "search-submit" %>
        <% end %>
      </div>
    </div>
  <% end %>
</header>