<footer class="text-white mt-auto">
  <div class="main-area">
    <div>
      <%= link_to 'musim', '/' %>
    </div>
    <div>
      <%= link_to '開発者', '#' %>
      <%= link_to 'お問い合わせ', '#' %>
      <%= link_to '利用規約', '#' %>
      <%= link_to 'プライバシーポリシー', '#' %>
    </div>
  </div>
</footer>