<header>
  <div class="navbar text-white">
    <div class="main-area d-flex align-items-center justify-content-between">
      <div>
        <%= link_to 'musim', '/' %>
      </div>
      <div>
        <%= link_to '楽曲を登録', '#' %>
        <%= link_to 'ログイン', '#' %>
        <%= link_to '新規登録', '#' %>
      </div>
    </div>
  </div>
  <div class="header-image text-white">
    <div class="main-area d-flex flex-column align-items-center">
      <h1>『似ている』から始まる曲探し</h1>
      <%=link_to 'アカウント登録・ログインをして始める' %>
    </div>
  </div>
</header>