<header>
  <div class="navbar navbar-expand-lg navbar-dark">
    <div class="container main-area">
      <%= link_to 'musim', '/', class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to '楽曲を登録', new_song_pair_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', mypage_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', logout_path, class: 'nav-link', data: { turbo_method: :delete } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-image text-white">
    <div class="main-area d-flex flex-column align-items-center">
      <h1>『似ている』から始まる曲探し</h1>
      <%= search_form_for @q, url: song_pairs_path, method: :get, class: 'd-flex input-group mb-3' do |f| %>
        <%= f.search_field :original_song_title_or_similar_song_title_or_original_song_artist_list_or_similar_song_artist_list_cont, placeholder: "曲名やアーティスト名から検索", class: "form-control" %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</header>