<% song_pairs.take(defined?(maximum) && maximum || song_pairs.size).each do |song_pair| %>
  <div class="song-pair-block d-flex align-items-center mb-3">
    <div class="song-jacket-container d-flex align-items-center justify-content-center flex-shrink-0 me-3">
      <%= image_tag "https://img.youtube.com/vi/#{song_pair.original_song.media_url_id}/hqdefault.jpg", class: "song-jacket" %>
    </div>
    <div class="song-title">
      <h3 class="mb-1"><%= link_to "#{song_pair.original_song.artist_list} - #{song_pair.original_song.title}", song_pair, class: "text-dark" %></h3>
      <p class="mb-0">→<%= t("views.song_pair_block.similar_song") %>: <%= song_pair.similar_song.artist_list %> - <%= song_pair.similar_song.title %></p>
    </div>
    <div class="song-category ms-auto">
      <%= link_to "#{t('views.song_pair_block.category')}: #{song_pair.similarity_category_name}", "#"%>
    </div>
  </div>
<% end %>