<div>
  <div class="share-field mb-4">
    <p><%= t("views.share.musim") %>: </p>
    <%= link_to "https://twitter.com/intent/tweet?text=#{URI.encode_www_form_component(t("views.share.twitter"))}&url=#{URI.encode_www_form_component(request.original_url)}", target: "_blank", rel: "noopener", class: "share-button share-button-twitter" do %>
      <i class="fa-brands fa-x-twitter"></i>
    <% end %>
    <%= link_to "https://social-plugins.line.me/lineit/share?url=#{CGI.escape(request.original_url)}", target: "_blank", rel: "noopener", class: "share-button share-button-line" do %>
      <span>LINE</span>
    <% end %>
  </div>
</div>
<div>
  <h1 class="text-center mb-4"><%= t("views.headings.recent") %></h1>
  <div class="mb-4">
    <%= render "shared/song_pair_block", song_pairs: @recent_song_pairs, maximum: 5 %>
    <% if logged_in? %>
      <div class="more-button d-flex justify-content-center">
        <%= link_to t("views.buttons.more"), recent_path, class: "btn" %>
      </div>
    <% else %>
      <div class="more-button d-flex justify-content-center">
        <%= link_to t("views.buttons.signup_to_more"), login_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
<div>
  <h1 class="text-center mb-4"><%= t("views.headings.popular") %></h1>
  <div class="mb-4">
    <%= render "shared/song_pair_block", song_pairs: @popularity_song_pairs, maximum: 5 %>
    <% if logged_in? %>
      <div class="more-button d-flex justify-content-center">
        <%= link_to t("views.buttons.more"), popular_path, class: "btn" %>
      </div>
    <% else %>
      <div class="more-button d-flex justify-content-center">
        <%= link_to t("views.buttons.signup_to_more"), login_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
