<div class="mb-4 song-info-block">
  <div class="d-flex">
    <div class="song-info">
      <h3><%= song.title %></h3>
      <p><%= t("activerecord.attributes.artist.name") %>: <%= song.artist_list %></p>
      <p><%= t("activerecord.attributes.song.release_date") %>: <%= song.release_date %></p>
    </div>
    <div class="song-jacket-container ms-auto">
      <%= image_tag "https://img.youtube.com/vi/#{song.media_url_id}/hqdefault.jpg", class: "song-jacket" %>
    </div>
  </div>
  <% if media_widget %>
    <%= render 'shared/media_widget', song: song %>
  <% end %>
  <div class="normal-button d-flex justify-content-center">
    <% if logged_in? %>
      <%= link_to t("views.songs.song_info.submit"), new_song_pair_path(original_song_id: song.id) %>
    <% else %>
      <%= link_to login_path, class: "text-center" do %>
        <% t("views.songs.song_info.signup_to_submit").each do |content| %>
          <p><%= content %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>