<% breadcrumb :admin_contacts %>
<%= render 'admin/shared/content_header', header_title: "問い合わせ" %>
<div class="app-content">
  <div class="container-fluid">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>ユーザー</th>
            <th>内容</th>
            <th>対応状況</th>
            <th></th>
            <th>登録日時</th>
            <th>更新日時</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.id %></td>
              <td><%= contact.user.name %></td>
              <td>
                <% if contact.message.length > 10 %>
                  <%= contact.message[0, 10] %>...
                <% else %>
                  <%= contact.message %>
                <% end %>
              </td>
              <td><%= contact.status_i18n %></td>
              <td>
                <%= link_to "確認・編集", edit_admin_contact_path(contact) %>
                <%= link_to "削除", admin_contact_path(contact), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
              </td>
              <td><%= contact.created_at.strftime('%Y年%m月%d日') %></td>
              <td><%= contact.updated_at.strftime('%Y年%m月%d日') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>