<% results.each do |result| %>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= result[:id] %>" data-autocomplete-label="<%= result[:label] %>" data-artist="<%= result[:artist] %>" data-release-date="<%= result[:release_date] %>" data-media-url="<%= result[:media_url] %>">
    <%= result[:text] %>
  </li>
<% end %>